/* IMPORT GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;700&display=swap");

/* SETUP BASE STYLES */
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  /* border: 1px solid red; */
}

/* ADD CUSTOM CSS */
:root {
  /* colors */
  --bg-grey-color: #ccc;
  --bg-light-color: #fff;
  --bg-dark-color:rgb(28, 28, 28);
  --brand-color: blue;
  --font-color: #112a46;
  /* font-types */
  --rb-font: "Roboto", sans-serif;
  --int-font: "Inter", sans-serif;
  --pop-font: "Poppins", sans-serif;
  /* font-weight */
  --weight-sm: 300;
  --weight-md: 400;
  --weight-lg: 500;
  --weight-xl: 700;
  /* font-sizes */
  --xsm: 16px;
  --xm: 20px;
  --sm: 24px;
  --md: 32px;
  --lg: 38px;
}

body {
  background-color: var(--bg-grey-color);
}

/* NAVBAR-CONTAINER STYLES */
.navbar-container {
  background-color: var(--bg-light-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  position:fixed;
  top:0;
  z-index:100;
  width:100vw;
}

.logo-container {
  color: var(--font-color);
}

.search-bar-container {
  padding: 10px;
  background-color: var(--bg-grey-color);
  color: var(--bg-grey-color);
  border-radius: 20px;
}

.search-bar-container i {
  color: var(--font-color);
}

.search-bar-container input {
  outline: none;
  border: none;
  background-color: var(--bg-grey-color);
  width: 400px;
}

.profile-container {
  display: flex;
  align-items: center;
}

.create-button{
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin: 0 30px;
  background-color: var(--brand-color);
  font-weight: var(--weight-xl);
  font-size: var(--xsm);
  color: white;
}

#create-button{
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin: 0 30px;
  background-color: var(--brand-color);
  font-weight: var(--weight-xl);
  font-size: var(--xsm);
  color: white;
}

.profile-container img {
  width: 50px;
  height: 50px;
  border-radius: 60%;
}
/* HOME */
.home-container{
  display:flex;
  justify-content: space-around;
  margin-top:80px;
}

/* MENU-CONTAINER-STYLES */
.menu-container {
  position:sticky;
  width: 220px;
  background-color: var(--bg-light-color);
  border-radius: 15px;
  height:500px;
}

.menu-container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-container ul li {
  display: flex;
  width: 200px;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  padding: 10px 0px;
}

.menu-container ul li .link i {
  width: 30px;
  margin-left: 20px;
}

.menu-container ul li .link {
  display: flex;
  align-items: center;
  width: 200px;
  height: 40px;
  color: var(--font-color);
  font-weight: var(--weight-xl);
  text-decoration: none;
}


/* STORIES CONTAINER */
.stories-container{
  display:flex;
  justify-content:space-around;
}

.stories-container img{
  width:95px;
  height:200px;
  border-radius:15px;
}



/* CREATEPOST CONTAINER */
.createpost-container{
  background-color: var(--bg-light-color);
  color: var(--bg-grey-color);
  display:flex;
  align-items:center;
  border-radius: 30px;
  padding:5px 0px;
  margin:10px 0px;
}
.createpost-container img{
  width: 35px;
  height: 35px;
  border-radius:60%;
  margin-left:10px;
}

.createpost-container input {
  outline: none;
  border:none;
  background-color: var(--bg-light-color);
  width: 400px;
  height:40px;
  margin-left:10px;
}

/* posts-container */
.posts-container{
  background-color: var(--bg-light-color);
  border-radius:15px;
  margin:20px 0px;
}

.post-header{
  display:flex;
  justify-content: space-between;
  padding:5px;
}

.post-header-profile{
  display:flex;
  justify-content: space-around;
  width:210px;
}

.post-header-profile img{
  width:50px;
  height:50px;
  border-radius:50%;
}


.post-image{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.post-image img{
  width:600px;
  border-radius:50px;
}

.post-icons{
  display:flex;
  justify-content:space-between;
}

.post-icons-left{
  margin:5px;
}

.post-icons-left i{
  padding:5px;
}

#like{
  color:red;
}

.post-icons-paragraph-text{
  display:flex;
  flex-direction:column;
}

.post-icons-likes{
  display:flex;
  align-items:center;
}

.post-likes-img{
  display:flex;
}

.post-likes-img img{
  width:40px;
  height:40px;
  border-radius:50%;
}

/* MESSAGES CONTAINER */
.message-container{
  display:flex;
  flex-direction:column;
  align-items: center;
  width:300px;
  background-color:var(--bg-light-color);
  border-radius:15px;
}

.message-header{
  display:flex;
  justify-content:space-between;
  width:280px;
  margin:10px;
}

.search-messages-container{
  background-color: var(--bg-grey-color);
  padding:0px 10px;
  border-radius:20px;
}

.search-messages-container input{
  height:30px;
  outline:none;
  border:none;
  background-color: var(--bg-grey-color);
}

.message-section{

}

.message-type{
  display:flex;
  justify-content: space-around;
}

.message{
  display:flex;
  padding:5px;
}

.message img{
  width:50px;
  height:50px;
  border-radius:50%;
}
